<!doctype html>
<html>
<head>
<title>
Leave Management
</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}



<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"&gt;&lt;/label>


                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
			    <br>
					</label>
				</div>
			</div>
		</div>
	</div>
	 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>


{% endif %}
{% endblock %}
</body>
</html>
